/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* Colors */
.red {
    color: #e35e6b;
}

/* Vertical alignment */
.v-middle {
    vertical-align: middle;
}

/* Snack Bar */
.show-message {
    background-color: #7489ff;
}

.show-message span {
    font-size: 1.125em;
    color: #FFF;
}