/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* Colors */
.red {
    color: #e35e6b;
}

/* Vertical alignment */
.v-middle {
    vertical-align: middle;
}

/* Snack Bar */
.message-sucess {
    background-color: #28A745;
}

.message-error {
    background-color: #E35E6B;
}

.message-sucess span,
.message-error span {
    font-size: 1.125em;
    color: #FFF;
}